@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;

}

.navbar-fixed{
    @apply fixed z-[9999] bg-white bg-opacity-70 shadow-lg;
    backdrop-filter: blur(3px);
    box-shadow:  inset 0 -1px 00 rgba(0, 0, 0, 0.1);
    
}


.hamburger-line {
    @apply w-[28px] h-[3px] my-1.5 block bg-dark;
}

.hamburger-x {
    @apply w-[28px] h-[3px] my-1.5 block bg-dark;
}




/* .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply  -rotate-45;
} */

html {
    scroll-behavior: smooth;
  }

  #nav-menu {
    opacity: 0;
    transform: translateX(100%); /* Ubah ini menjadi translateX(0) saat menu dibuka */
    transition: opacity 0.5s ease, transform 0.5s ease-in-out;
}

  

/* Tambahkan style untuk navbar pada tampilan "lg" */
@media (min-width: 1024px) {
    #nav-menu {
        display: block !important;
        opacity: 1 !important;
        transform: none !important;
        visibility: visible !important;
        position: static !important;
        max-width: none !important;
        box-shadow: none !important;
    }
}






